.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    max-width: 600px;
    margin: auto;
  }
  
  .search-input {
    display : flex;
    background-color: #F5EFFF;
    flex: 1;
    padding: 10px;
    border: 1px solid #605DEC;
    border-radius: 10px;
    outline: none;
    align-items: center;
    justify-content: center;
  }
  
  .search-button {
    background-color: #b4b3fe;
    font-weight: 600;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.1s ease;
  }
  
  .search-button:hover {
    background-color: #D4D2E3;
  }